/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-May-2015, 00:12:08
    Author     : Mingso
*/

*{box-sizing:border-box;}
html, body{height:100%; margin:0px; padding:0px;}
.contain{width:100%; height:100%;}
.header{height:100px; position:absoulte; top:0px; width:100%;
       z-index:10;
       background-image: url(../resources/images/griffin100x100.jpg);
       background-repeat: no-repeat;
       border-bottom: 1px solid #737373}
.content{height:100%; position:relative;min-height:200px;}
.content .data{padding:40px;}
.content .footer{position:absolute; bottom:0px; left:0px; width:100%; border-top: 1px solid #737373;}